# Игнорируем все, кроме необходимых файлов
*

# Разрешаем только нужные директории
!rtabmap/
!robot_state_publisher/
!zenoh-router/
!../src/rob_box_description/

# Исключаем ненужные файлы внутри директорий
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.DS_Store
**/*.swp
**/*.swo
**/~*
**/.git
**/.gitignore
**/node_modules
**/.vscode
**/.idea
