<launch>

<rosparam file="$(find SIRIUSROVER_DX_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="SIRIUSROVER_DX" args="joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/SIRIUSROVER_DX/joint_states"/>
</node>

</launch>